

<form method="GET" action="/artist-search">
    <label for="searchArtist">search</label>
    <input type="text" name="searchString" id="" placeholder="The Beatles"/>
    <button type="submit">Search for an Artist</button>
</form>